.container {
  padding-left: var(--size-gutter-raw);
  padding-right: var(--size-gutter-raw);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-3xl);
  max-width: 76ch;
}

.intro {
  padding-bottom: var(--space-lg);
  line-height: var(--dense);
  font-size: var(--text-display);
  color: var(--text-color-secondary);
}

.callOut {
  padding-bottom: var(--space-lg);
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.callOut > strong {
  text-decoration: underline;
}

.callToAction {
  font-size: var(--text-prose);
  line-height: var(--dense);
  line-height: var(--dense);
  letter-spacing: var(--tight);
  color: var(--text-color-secondary);
}

.deployButton {
  margin-top: var(--space-lg);
}
.hero_overlay {
  position: relative;
}

.black_fri {
  position: absolute;
  top: 47px;
  color: #fff;
  text-align: center;
}
.black_img {
  justify-content: center;
  display: flex;
}
.black_fri img {
  width: 47%;
}
.black_fri h5 {
  font-size: 20px;
  font-weight: bold;
}

.black_fri h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 15px;
}
.black_fri p {
  border: 1px solid #fff;
  position: absolute;
  padding: 10px 20px;
  left: 45%;
  margin-top: 21px;
  cursor: pointer;
  font-weight: 600;
}
.showNow:hover {
  background-color: #fff;
  color: #000!important;
}
.showNow a {
  text-decoration: none;
}
.mContainer {
  padding: 40px 0px 100px;
  text-align: center;
}
.mContainer span {
  text-decoration: underline;
}
.mContainer h1 {
  font-weight: 600;
}
.newReleased {
  text-decoration: none;
  cursor: pointer;
}
.newReleasedContainer {
  position: relative;
  margin-top: 50px;

}
.newReleasedDesc {
  position: absolute;
  color: #fff;
  bottom: 0px;
  margin: 30px;
}
.newReleasedDesc h5 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 18px;
}
.newReleasedDesc span {
  border: 1px solid #fff;
  padding: 11px 16px;
  font-weight: 500;
}
.header {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 77px;
  font-size: 25px;
  font-weight: 600;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .hero_overlay video {
    object-fit: cover;
    height: 300px;
  }
  .black_img img {
    width: 80%;
  }
  .black_fri h3 {
    font-size: 2rem;
  }
  .black_fri h5 {
    font-size: 16px;
  }
  .black_fri p {
    left: 35%;
  }
  .mContainer span {
    font-size: 13px;
  }
  .mContainer {
    padding: 30px 0px 100px;
  }
  .newReleasedDesc h5 {
    font-size: 28px;
  }
}